{% extends 'base.html' %}
{% load department_categories %}
{% load static %}
{% block main_content %}
<main class="w-11/12 mx-auto bg-gray-100">
    <section>
      <!-- Department Navigation Section -->
      <nav class=" Department_category_nav flex w-1/4 px-3 py-1 rounded flex-col bg-orange-200">
        <h3 class="text-xl bg-orange-300 w-full text-center">Department Categories >></h3>
        {% department_categories_nav %}
        
         <div  class="view-all border bg-white text-end px-1 hover:underline decoration-sky-500 flex justify-center items-center ">View all 
          <span class="iconify" data-icon="mdi-arrow-down-drop-circle"></span>
         </button> 
      </nav>
          <!-- Department Navigation Section -->
    </section>

    <!-- Product Section -->
    <section class="text-gray-600 body-font ">
      <div class="container px-5 py-2 mx-auto shadow-lg bg-white my-2">
        <h2 class="text-2xl  my-2 py-3"><span class="border-b border-orange-700 inline-block px-3 py-1"> Top Selling Products</span></h2>
        <div class="flex flex-wrap bg-gray-100 -m-4">
           
          {%include 'includes/partial_Product.html' %}
        </div>
      </div>
    </section>
    <!-- Product section End ------------------- -->
    {% endblock %} 
  