{% extends 'base.html' %}
{% load department_categories %}
{% load static %}
{% block main_content %}
<main class="w-11/12 mx-auto">
    <section>
      <!-- Department Navigation Section -->
      <nav class=" Department_category_nav flex w-1/4 px-3 py-1 rounded flex-col bg-orange-200">
        <h3 class="text-xl bg-orange-300 w-full text-center">Department Categories >></h3>
        {% department_categories_nav %}
        
         <div  class="view-all border bg-white text-end px-1 hover:underline decoration-sky-500 flex justify-center items-center ">View all 
          <span class="iconify" data-icon="mdi-arrow-down-drop-circle"></span>
         </button> 
      </nav>
          <!-- Department Navigation Section -->
    </section>

    <!-- Product Section -->
    <section class="text-gray-600 body-font">
      <div class="container px-5 py-24 mx-auto">
        <h2 class="text-2xl border-b border-orange-300 my-2 inline-block">Top Product Of the day</h2>
        <div class="flex flex-wrap -m-4">
            {% for product in products %} 

          <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
            <a href="{% url 'store:Product_detail' product.id %}" class="block relative h-48 rounded overflow-hidden">
              <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="{{product.image.url}}">
            </a>
            <a href="{% url 'store:Product_detail' product.id %}">
            <div class="mt-4">
              <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">{{product.category}}</h3>
              <h2 class="text-gray-900 title-font text-lg font-medium">{{product.title}}</h2>
              <div class=""><p class="mt-1 flex gap-2">$16.00</p><a href="{% url 'userProfile:vendor_detail' product.added_by.id%}"> <p class="">{% firstof product.added_by.get_full_name  product.added_by.username%}</p></a></div>
            </div>
          </a>
          
          </div>
          {%endfor%}
         
        </div>
      </div>
    </section>
    <!-- Product section End ------------------- -->
    {% endblock %} 
    hello thi si sforntend page