{% extends 'base.html'%}

{% block main_content %}
<main class="w-10/12 mx-auto">
   {% if  cart %}
    <h2 class="text-2xl my-2 font-medium text-gray-500">Your Cart</h2>
    <div class="cart_details">
    <!-- component -->
<section class="antialiased bg-gray-100 text-gray-600 h-screen px-4">
    <div class="flex flex-col justify-center h-full">
        <!-- Table -->
        <div class="w-full max-w-2xl mx-auto bg-white shadow-lg rounded-sm border border-gray-200">
            <header class="px-5 py-4 border-b border-gray-100">
                <h2 class="font-semibold text-gray-800">Customers</h2>
            </header>
            <div class="p-3">
                <div class="overflow-x-auto">
                    <table class="table-auto w-full">
                        <thead class="text-xs font-semibold uppercase text-gray-400 bg-gray-50">
                            <tr>
                                <th class="p-2 whitespace-nowrap">
                                    <div class="font-semibold text-left">Product</div>
                                </th>
                                <th class="p-2 whitespace-nowrap">
                                    <div class="font-semibold text-left">Price</div>
                                </th>
                                <th class="p-2 whitespace-nowrap">
                                    <div class="font-semibold text-left">Quantity</div>
                                </th>
                                <th class="p-2 whitespace-nowrap">
                                    <div class="font-semibold text-center">Remove</div>
                                </th>
                            </tr>
                        </thead>
                        <tbody class="text-sm divide-y divide-gray-100">
                            {% for item in cart %}
                            
                           
                            <tr>
                                <td class="p-2 whitespace-nowrap">
                                    <div class="flex items-center">
                                       {% if item.product.image %} <div class="w-10 h-10 flex-shrink-0 mr-2 sm:mr-3"><img class="rounded-full" src={{item.product.image.url}} width="40" height="40" alt="Alex Shatov"></div>{%endif%}
                                        <div class="font-medium text-gray-800">{{item.product.title}}</div>
                                    </div>
                                </td>
                                <td class="p-2 whitespace-nowrap">
                                    <div class="text-left"> {{item.product.price}}</div>
                                </td>
                                <td class="p-2 whitespace-nowrap">
                                   <a class="bg-indigo-400 px-2 py-1" href="{% url 'store:change_quantity' item.product.id %}?action=increase"> +</a>
                                    <div class="text-left font-medium text-green-500">{{item.quantity}}</div>
                                    <a class="bg-indigo-400 px-2 py-1" href="{% url 'store:change_quantity' item.product.id %}?action=decrease"> 
                                        -
                                    </a>
                                </td>
                                <td class="p-2 whitespace-nowrap">
                                    <a class="text-pink-500" href="{% url 'store:remove_from_cart' item.product.id %}" class="text-lg text-center"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                                      </svg>
                                      </a>
                                </td>
                            </tr>
                            {%endfor%}
                           
                           
                        </tbody>
                       
                    </table>
                    <div class="flex justify-between px-10 mx-auto  py-5">
                        <p class=" space-evenly"> <strong> Total:</strong> </p>
                        <span>{{cart.get_total_cost}}</span>
                     
                       
                        
                    </div>
                    <div class="bg-indigo-400 text-white text-xl my-2 mx-2 px-5 rounded py-5 w-6/12 mx-auto text-center">
                       <a href="{% url 'store:checkout' %}" class="href">Proced Checkout</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
   {% else %}
    </div>  
    <h2 class="text-2xl my-2 font-medium text-gray-500">Your Cart is empty... Shop Now!!</h2>
{% endif %}
</main>
{% endblock%}