{% load static %}
{% load main_nav%}
<header class="text-gray-600 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center border-b">
      <a href="{%url 'store:home'%}" class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
        <img src="{% static 'assets/Mart_blaster_logo.png' %}" class="w-20 h-20 text-white " />
       
        <div class="ml-1 text-2xl ">MART<span class="text-orange-700 text-2xl">BLASTER</span></div>
      </a>
      <div class="m-auto">
        <form method="POST" action="/search/" class="bg-indigo-800 px-1 relative rounded  " enctype="multipart/form-data"  >
          {%csrf_token%}
          <button id="capture_image"> <span class="iconify text-2xl absolute  top-2 right-20"  data-icon="mdi-camera"></span> </button>
           
          <label for="search" hidden>Search</label>
          <input class=" pl-5 py-1 focus:outline-none  rounded" type="search" placeholder="Search for product" name="query">
          <div class="absolute px-5 py-5 z-10 hidden bg-gray-100" id="upload_model" >  <span id="close_icon"class=" absolute right-0 top-[-5px] text-3xl text-red-800">&times;</span> <input class=" text-sm font-medium text-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" type="file" name="image"></div>
          <input class="px-2 rounded  text-white hover:point hover:bg-indigo-600 py-2 px-1" type="submit" value="Search">
        </form>
      </div>
      <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
      
        
        {% main_nav %}
      </nav>
      <div class="nav-button">

      
     <a href="{% url 'store:cart_view'%}" 
     <button class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">
      <span class="iconify" data-icon="mdi-cart-plus"></span> 
      Cart
      <span class="" id="cart-count"></span>
      </button>
    </a>
      <button class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">
        {% if request.user.is_authenticated %}
        <span class="iconify" data-icon="mdi-account"></span> <a href="{%url 'userProfile:my_account' %}" >My Account</a>
        {% else %} 
        <span class="iconify" data-icon="mdi-account"></span><a href="{%url 'userProfile:login' %}" >Login</a>

       {%endif%}
       
      </button>
      <button class="inline-flex items-center  bg-gray-100 border-0 py-1 px-2 rounded">
        {% if request.user.is_authenticated %}
        <span class="iconify" data-icon="mdi-store"></span> <a href="{%url 'userProfile:my_store' %}" >My Store</a>
       

       {%endif%}
      </button>
    </div>
    </div>
  </header>